<div>
    <div ng-repeat="article in ArticleList">
        <div class="card">
            <div class="card-header">
                {{ article.title }}
            </div>

            <div class="card-body">
                <p class="card-text">
                    {{ article.body }}
                </p>

                <div style="display: table;">
                    <div style="display: table-row">
                        <a class="btn btn-dark btn-block"  ui-sref="editform({articleId: {{ article.ID }}})">Edit</a>
                    </div>

                    <div style="display: table-row">
                        <button type="button" class="btn btn-danger" 
                        data-toggle="modal" 
                        data-target="#deleteConfirmModal" 
                        ng-click="deleteArticle(article.ID);" >
                        Delete
                        </button>
                    </div>

                    <div style="display: table-row">
                        <a class="btn btn-success btn-block" ui-sref="view({articleId: {{ article.ID }}})">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>